{{extend 'layout-general.html'}}

<!-- title -->
<div id="page-title">
 <span class="title">Bares</span>
 <span class="subtitle">Vamos Viernes bares</span>
</div>
<!-- ENDS title -->
    
<!-- filter -->
<ul id="portfolio-filter" class="filter">
 <li>Filter</li>
 <li class="selected"><a href="#" data-filter="*" > All </a></li>
 <li><a href="#" data-filter=".pink" > Pink </a></li>
 <li><a href="#" data-filter=".blue" > Blue </a></li>
 <li><a href="#" data-filter=".green" > Green </a></li>
</ul>
<!-- ENDS filter -->

<!-- gallery-->
<ul id="portfolio-list" class="gallery two-cols">

 {{for bar in bares:}}

 <li class="pink"><h1>{{=bar['bar'].name}}</h1> <a href="{{=URL('default', 'download', args=bar['bar'].picture)}}" rel="group1" class="fancybox" title="{{=bar['bar'].name}}">
  <img src="{{=URL('default', 'download', args=bar['bar'].picture)}}" alt="Pic"></a></li>

 {{pass}}

</ul>
<!-- ENDS gallery -->

<!-- pagination -->
<div class="clear"></div>
<ul class='pager'>
 <li class='first-page'><a href='#'>&laquo;</a></li>
 <li><a href='#' >&lsaquo;</a></li>
 <li><a href='#' >2</a></li>
 <li><a href='#' >3</a></li>
 <li class='active'><a href='#'>4</a></li>
 <li><a href='#' >5</a></li>
 <li><a href='#' >6</a></li>
 <li><a href='#' >&rsaquo;</a></li>
 <li class='last-page'><a href='#'>&raquo;</a></li>
</ul>
<!-- ENDS pagination -->


</div>
<!-- ENDS content -->

</div>
<!-- ENDS wrapper-main -->
